In [ ]:
import pandas as pd
import datetime as dt
import numpy as np

In [ ]:
percent_file = "API_BX.TRF.PWKR.DT.GD.ZS_DS2_en_csv_v2_55293.csv"
money_sent_file = "API_BX.TRF.PWKR.CD_DS2_en_csv_v2_41308.csv"

In [ ]:
#Read in csv files
percent_df = pd.read_csv(percent_file)
money_df = pd.read_csv(money_sent_file)

In [ ]:
#Set indexes
money_df.set_index("Country Name", inplace=True)
percent_df.set_index("Country Name", inplace=True)

In [ ]:
#View column names
for col in money_df.columns:
    print(col)

In [ ]:
#Drop unnecessary columns
money_df.drop(columns = ["Country Code", "Indicator Name", "Indicator Code"], inplace=True)

In [ ]:
money_df.drop(columns=["1960","1961","1962", "1963", "1964", "1965", "1966","1967", "1968","1969","1970", "1971", "1972","1973","1974","1975","1976", "1977", "1978", "1979", "1980", "1981", "1982", "1983", "1984","1985", "1986", "1987", "1988", "1989", "1990","1991", "1992", "1993", "1994", "1995", "1996", "1997", "1998", "1999", "2000","2001", "2002", "2003", "2004", "2005", "2006", "2007","2018"], inplace=True)
money_df

In [ ]:
#Drops columns with all NAs
money_df.dropna(1,how="all", inplace=True)

In [ ]:
#Convert data into floats to allow addition
for col in money_df.columns:
    money_df[col] = money_df[col].str.replace("$","")
    money_df[col] = money_df[col].str.replace(",","")
    money_df[col] = money_df[col].str.replace("-","")
    money_df[col] = money_df[col].str.replace(")","")
    money_df[col] = money_df[col].astype(float)

In [ ]:
#Create a total column and sum the rows
money_df.loc[:,'Total'] = money_df.sum(axis=1)

In [ ]:
#Sort by total to find top five countries by Personal transfers receipts
money_df.sort_values("Total", ascending=False)

In [ ]:
x=money_df.sort_values("Total", ascending=False).head(30)
x

In [ ]:
money_df.drop(rows=["World", "IDA & IBRD total", "Low & middle income", "middle income", "IBRD only", "Early demographic dividend",
"Upper middle income", "IDA total", "Late-demographic dividend", "IDA blend", "Least developed countries: UN classification",
"Sub-Saharan Africa (excluding high income)", "Sub-Saharan Africa", "East Asia & Pacific (excluding high income)", 
"Pre-demographic dividend", " Europe & Central Asia (IDA & IBRD countries)", "Europe & Central Asia (excluding high income)",
"Lower middle income", "South Asia", "South Asia (IDA & IBRD)", "Latin America & Caribbean", "Latin America & Caribbean (excluding high income)", 
"Middle East & North Africa (excluding high income)", "Middle East & North Africa (IDA & IBRD countries)", "East Asia & Pacific (IDA & IBRD countries)", 
"Sub-Saharan Africa"], inplace=True)
money_df

In [ ]:
print

In [24]:
money_total_df= money_df.groupby(['Country Name'])['Total'].max().head(10)
money_total_df

Country Name
Afghanistan            2.138522e+09
Albania                1.216088e+10
Algeria                7.612738e+09
American Samoa         0.000000e+00
Andorra                0.000000e+00
Angola                 2.138595e+08
Antigua and Barbuda    1.818114e+08
Arab World             0.000000e+00
Argentina              4.287212e+09
Armenia                7.546339e+09
Name: Total, dtype: float64

In [18]:
money_mean_df= money_df.groupby(['Country Name'])['Total'].mean().head(20)
money_mean_df

Country Name
Afghanistan            2.138522e+09
Albania                1.216088e+10
Algeria                7.612738e+09
American Samoa         0.000000e+00
Andorra                0.000000e+00
Angola                 2.138595e+08
Antigua and Barbuda    1.818114e+08
Arab World             0.000000e+00
Argentina              4.287212e+09
Armenia                7.546339e+09
Aruba                  3.575597e+07
Australia              0.000000e+00
Austria                3.956119e+09
Azerbaijan             1.364894e+10
Bahamas, The           0.000000e+00
Bahrain                0.000000e+00
Bangladesh             1.275278e+11
Barbados               3.317524e+08
Belarus                4.246800e+09
Belgium                1.518638e+09
Name: Total, dtype: float64